*{
    margin: 0px;
    scroll-behavior: smooth;
}

header{
    background-image: url('menu-background.png');
    height: 900px;
}

.menu-wrapper{
    display: flex;
    background-color: white;
    height: 10%;

}

.menu-wrapper div{
    display: flex;
    height: 100%;
    text-align: center;
    border-left: 1px solid gray;
    align-items: center;
    justify-content: center;
}

.menu-logo{
    height: auto;
    width: 460px;
    align-items: left;
}

.menu-nav{
    height: auto;
    width: 1000px;
}

.menu-nav ul{
    list-style-type: none;
    display: flex;
}

.menu-nav ul li{
    color: #4888a8;
    font-weight: bold;
    font-size: 20px;
    padding: 0px 60px;
}

.menu-myacc{
    color: #4888a8;
    font-weight: bold;
    font-size: 20px;
    height: auto;
    width: 230px;
    flex-direction: column;
}

.menu-cart{
    color: #4888a8;
    font-weight: bold;
    font-size: 20px;
    height: auto;
    width: 230px;
    flex-direction: column;
}

.undermenu-wrapper{
    display: flex;
}

.undermenu-wrapper div{
    width: 50%;
    padding: 350px 200px 0px 200px;
}

.first-section{
    text-align: right;
}

.second-section{
    text-align: left;
    margin-top: 110px;
}

p{
    color: #4888a8;
    font-weight: bold;
    font-size: 25px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8)
}

.facebook-icon{
    border-radius: 100%;
    box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.7);
    margin-left: 55px;
}

.facebook-icon:hover{
    box-shadow: 2px 3px 5px rgba(255, 255, 255, 0.5);
}

h1{
    color: white;
    font-weight: bold;
    font-size: 45px;
}

a{
    color: #4888a8;
    text-decoration: none;
}

a:hover{
    color: #85b3ca;
}

.undermenu-wrapper a:hover{
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.9);
}

button{
    color: white;
    font-weight: bold;
    font-size: 18px;
    border: 0px;
    background-color: #4888a8;
    margin: 10px 0px;
    padding: 15px 35px;
}

button:hover{
    background-color: #85b3ca;
    cursor: pointer;
}

.prospects-wrapper{
    display: flex;
    padding: 0% 20%;
}

.prospects-wrapper div{
    height: auto;
    width: 33%;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    border: 1px solid lightgray;
    padding: 2% 5%;
}

h2{
    color: #4888a8;
    padding: 5% 0%;
}

h3{
    color: gray;
}

.about-us-wrapper{
    display: flex;
    width: auto;
    padding: 8% 20%;
}

.about-us-wrapper div{
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 50%;
}

.about-us-wrapper p{
    color:#4888a8;
    font-size: 20px;
    text-shadow: none;
}

.about-us-wrapper button{
    padding: 13px 25px;
    margin: 20px 0px;
}

h4{
    color: black;
    font-size: 35px;
}


.about-us-second-part{
    background-image: url(hiking-image.png) ;
    max-width: 400px;
    max-height: 310px;
    margin-left: 140px;
}

.motto-text{
    position: absolute;
    max-width: 300px;
    background-color: white;
    box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.5);
    padding: 10px;
    right: 20%;
    bottom: -76%;
}

.motto-text div{
    margin-top: 10px;
    padding: 0px;
}

.products-wrapper{
    display: flex;
    height: auto;
    padding: 2% 5%;
}

.products-wrapper div{
    width: 25%;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    border: 1px solid lightgray;
    margin-left: 75px;
    margin-right: 75px;
    padding: 1% 0%;
}

.contact-wrapper{
    display: flex;
    padding: 5% 40%;
    text-align: left;
    color: #4888a8;
}

.contact-wrapper input{
    margin-bottom: 30px;
    width: 400px;
    border: 1px solid black;
}

#details{
    height: 300px;
}

footer{
    background-color: #2d2d2e;
    display: flex;
}

table{
    text-align: left;
    width: 100%;
    margin: 0px;
    border-collapse: collapse;
}

tr, td{
    border: 1px solid gray;
    margin: 0px;

}

.footer-socials{
    width: 60%;
    padding:100px 300px ;
}

.footer-socials img{
    padding-right: 22px;
}

hr{
    color: #4888a8;
    background-color: #4888a8;
    width: 203px;
    margin-bottom: 20px;
}

.footer-information p{
    font-size: 15px;
    margin-top: 15px;
}

.footer-information {
    color: white;
    font-size: 25px;
    padding-left: 50px;
}

.footer-information a{
    text-decoration: none;
    color: white;
}

.footer-account{
    color: white;
    padding: 20px 300px;
    font-size: 20px;
}

.footer-account p{
    font-size: 15px;
}

.footer-account button{
    font-size: 15px;
    padding: 10px 15px;
}

.footer-copyright{
    color: white;
    text-align: center;
    padding: 15px 0px;
}
